# Directorios de compilación de Java (Maven/Gradle)
target/

# Archivos JAR, WAR, etc.
*.jar
*.war
*.zip
.m2/
#xd

# los feltros
/filtros_py/filters/__pycache__/

auth/src/main/resources/firebase-credentials.json
demo/src/main/resources/firebase-credentials.json
gateway/src/main/resources/firebase-credentials.json

# Firebase credentials
gateway/src/main/resources/firebase-credentials.json
**/firebase-credentials.json
**/firebase-service-account.json
