services:
  postgres:
    image: postgres:latest
    container_name: postgres_auth
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
